안녕하세요. 수강생 여러분~! Chapter21 ~ 32 수업은 잘 들으셨나요?

Chapter21 ~ 32의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

[문제 1]
사용자로부터 이름과 나이를 입력 받아, "안녕하세요, [이름]님! 당신은 [나이]살입니다."라고 출력하는 함수 greet_user를 작성하세요.

In [4]:
def great_user():
  name = input("이름을 입력하세요: ")
  age = input("나이를 입력하세요: ")
  print(f"안녕하세요, {name}님! 당신은 {age}살입니다. ")
great_user()

이름을 입력: 11
나이를 입력: 11
안녕하세요, 11님! 당신은 11살입니다.

---

[문제 2] 여러 숫자를 입력받아 그 합계를 반환하는 함수 sum_numbers를 작성하세요. 이 때, 가변 매개변수를 사용하세요.

In [7]:
def sum_numbers():
  numbers = input("숫자들을 공백으로 입력하세여: ").split()
  total = 0
  for num in numbers:
    total += int(num)
  return total
print(sum_numbers())

숫자들을 공백으로 입력하세여: 10 20 30 40 50 60 70
280

---

[문제 3] 사용자의 이름을 출력하는 함수 print_name을 작성하세요. 만약 이름이 주어지지 않았다면, 기본값으로 "익명"을 사용하세요.

In [10]:
def print_name():
  name = input("이름을 입력하세요: ")
  if name == "":
    print("익명")
  else:
    print(f"이름: {name}")
print(print_name())

이름을 입력하세요:
익명
None

---

[문제 4] 사용자의 이름, 나이, 성별을 출력하는 함수 print_info를 작성하세요. 이 때, 모든 매개변수는 키워드 매개변수로만 받도록 하세요.

In [12]:
def print_info(name, age, gender):
  print(f"이름: {name}")
  print(f"나이: {age}")
  print(f"성별: {gender}")
name = input("이름을 입력하세요: ")
age = input("나이를 입력하세요: ")
gender = input("성별을 입력하세요: ")
print_info(name, age, gender)

이름을 입력하세요: 홍길동
나이를 입력하세요: 918
성별을 입력하세요: 남
이름: 홍길동
나이: 918
성별: 남

---

[문제 5] 두 개의 정수를 받아 합을 반환하는 함수 add를 작성하세요. 매개변수와 반환값에 타입 어노테이션을 추가하세요.

In [17]:
def add(a: int, b: int) -> int:
  return a + b
nums = input("두개의 정수를 입력하세요: ").split()
print(add(int(nums[0]), int(nums[1])))

두개의 정수를 입력하세요: 12 135
147

---

[문제 6] 0부터 시작하여 n까지의 숫자 중에서 홀수만 생성하는 제너레이터 odd_numbers를 작성하세요.

In [24]:
def odd_numbers(n):
    for i in range(n + 1):
        if i % 2 == 1:
            yield i
odd = input("숫자를 입력하세요: ")
for num in odd_numbers(int(odd)):
    print(num)

숫자를 입력하세요: 5
1
3
5

---

[문제 7] 두 숫자를 더하는 람다 함수를 작성하고, 이를 변수에 할당한 후 사용하세요.

In [25]:
add = lambda a, b: a + b
print(add(1, 2))

3

---

[문제 8] 사용자로부터 3개의 숫자를 입력받아, 이를 튜플로 만든 후 최소값과 최대값을 출력하는 함수 min_max를 작성하세요.

In [31]:
def min_max():
  numbers = input("3개의 숫자를 입력하세요: ").split()
  numbers = tuple(map(int, numbers))
  print(f"최소값: {min(numbers)}")
  print(f"최대값: {max(numbers)}")
min_max()

3개의 숫자를 입력하세요: 123 4212 121
최소값: 121
최대값: 4212

---

[문제 9] 주어진 숫자가 짝수인지 확인하는 함수 is_even을 작성하세요. 짝수라면 True를, 아니라면 False를 반환하세요. 함수 내에서 조기 리턴을 활용하세요.

In [32]:
def is_even(num):
  if num % 2 == 0:
    return True
  else:
    return False
num = int(input("숫자를 입력하세요: "))
print(is_even(num))

숫자를 입력하세요: 14
True

---

[문제 10] 팩토리얼을 계산하는 재귀 함수 factorial을 작성하세요.

In [34]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)
num = int(input("숫자를 입력하세요: "))
print(factorial(num))

숫자를 입력하세요: 12
479001600

---

[문제 11] 문자열 리스트를 받아, 각 문자열의 길이를 출력하는 함수 print_lengths를 작성하세요.

In [35]:
def print_lengths(strings):
  for string in strings:
    print(f"{string}: {len(string)}")
strings = input("문자열을 입력하세요: ").split()
print_lengths(strings)

문자열을 입력하세요: 안녕하세요
안녕하세요: 5

---

[문제 12] 두 문자열을 받아서 긴 문자열을 반환하는 함수 longer_string을 작성하세요. 만약 두 문자열의 길이가 같다면, 첫 번째 문자열을 반환하세요.

In [37]:
def longer_string(s1, s2):
  if len(s1) >= len(s2):
    return s1
  else:
    return s2
s1 = input("문자열을 입력하세요: ")
s2 = input("문자열을 입력하세요: ")
print(longer_string(s1, s2))

문자열을 입력하세요: hello
문자열을 입력하세요: hello world
hello world